{% extends "dashboard.html" %}

{% block dashboardHead %}
    {% if userType == "librarian" %}
    <title>Librarian {{bookID}}</title>
    <link href="../static/styles/librarian-dashboard.css" rel="stylesheet">
    {% else %}
    <title>Student Dashboard</title>
    <link href="../static/styles/student-dashboard.css" rel="stylesheet">
    {% endif %}
    <link href="../static/styles/book-page.css" rel="stylesheet">
{% endblock %}

{% block leftContent %}
    {% if userType == "librarian" %}
    <a href="{{url_for('librarianDashboard')}}" class = "panel-item" id="homeLabel">Home</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="favouriteLabel">Favourites</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="issuedLabel">Issued</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="historyLabel">History</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="bookLabel">Books</a>
    <hr class = "divider">
    <a href="{{url_for('genreEdit')}}" class = "panel-item" id="genreLabel">Genres</a>
    <hr class = "divider">
    <div class = "heading">Recents</div>
    <div class = "panel-item">7</div>
    <hr class = "divider">
    <div class = "panel-item">8</div>
    <hr class = "divider">
    <div class = "panel-item">9</div>
    <hr class = "divider">
    <div class = "panel-item">10</div>
    <hr class = "divider">
    <div class = "panel-item">11</div>
    <hr class = "divider">
    <div class = "panel-item">12</div>
    <hr class = "divider">
    <div class = "panel-item">13</div>
    <hr class = "divider">
    <div class = "panel-item">14</div>
    <hr class = "divider">
    <div class = "panel-item">15</div>
    {% else %}
    <a href="{{url_for('studentDashboard')}}" class = "panel-item" id="homeLabel">Home</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="favouriteLabel">Favourites</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="issuedLabel">Issued</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="historyLabel">History</a>
    <hr class = "divider">
    <div class = "panel-item">4</div>
    <hr class = "divider">
    <div class = "panel-item">5</div>
    <hr class = "divider">
    <div class = "panel-item">6</div>
    <div class = "heading">Recents</div>
    <div class = "panel-item">7</div>
    <hr class = "divider">
    <div class = "panel-item">8</div>
    <hr class = "divider">
    <div class = "panel-item">9</div>
    <hr class = "divider">
    <div class = "panel-item">10</div>
    <hr class = "divider">
    <div class = "panel-item">11</div>
    <hr class = "divider">
    <div class = "panel-item">12</div>
    <hr class = "divider">
    <div class = "panel-item">13</div>
    <hr class = "divider">
    <div class = "panel-item">14</div>
    <hr class = "divider">
    <div class = "panel-item">15</div>
    {% endif %}
{% endblock %}

{% block rightContent %}
<div class="book-page container">
  {% if deleteMsg %}
  <div class="error-text status-text" style=" margin: 2vh; padding: 1vh 1vh;z-index: 99999; position:sticky; top:0; width:84vw;background-color: rgb(255, 230, 230);">{{deleteMsg}}</div>    
  {% elif issueMsg %}
  <div class="success-text status-text" style=" margin: 2vh; padding: 1vh 1vh;z-index: 99999; position:sticky; top:0; width:84vw;background-color: rgb(241, 255, 224);">{{issueMsg}}</div>    
  {% endif %}
  <div class="row">
      <div class="col-sm-3">
          <div class="card author-genre-col">
            <h5 class="card-title header">Authors</h5>
              <div class="card-body">
                  <!-- Loop through authors -->
                  {% for author in authors %}
                      <a href="{{url_for('authorPage',authorName=author)}}" class="btn btn-primary" style="margin-bottom:1vh">{{author}}</a>
                  {% endfor %}                
              </div>
          </div>
          <div class="card author-genre-col" style="margin-top: 3vh;">
            <h5 class="card-title header">Genres</h5>  
            <div class="card-body">
                  
                  <!-- Loop through genres -->
                  {% for genre in genres %}
                      <a href="{{url_for('genrePage',genreName=genre)}}" class="btn btn-primary" style="margin-bottom:1vh">{{genre}}</a>
                  {% endfor %}
              </div>
          </div>
      </div>
      <div class="col-sm-6">
          <div class="card book-col">
              <div class="card-body">
                  <div class="left-column">
                      <h4 class="sticky-header">{{book.name}}</h4>
                      <img class="card-img" src="../static/cover-images/{{book.name}}.png" alt="{{book.name}} Cover image">
                  </div>
                  <div class="right-column">
                    <p class="book-desc" style="margin-top: 1vh;">{{book.description}}</p>
                    <div class="button-container">
                        <a href="#" class="btn btn-warning" style="margin-top: 1vh; margin-bottom: 2vh;">Read</a>
                        <a href="{{url_for('returnBook',bookID=book.id)}}" class="btn btn-info" style="margin-top: 1vh; margin-bottom: 2vh;">Return</a>
                    </div>
                </div>
                
              </div>                
          </div>
      </div>
      <div class="col-sm-3">
          <div class="review-container">
              <div class="review-form container" style="width: 100%;">
                  <h4>Write a Review</h4>
                  <form action="{{ url_for('reviewSubmitter', bookID=book.id) }}" method="post">
                      <div class="form-group">
                          <label for="review">Your Review:</label>
                          <textarea class="form-control" id="review" name="review" rows="4" style="margin-bottom: 1vh;"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit Review</button>
                  </form>
              </div>
              <div class="all-reviews container">
                  <h4 class="sticky-header">All Reviews</h4>
                  <ul class="list-group">
                      {% for review in reviews %}
                      <div class="card">
                        <div class="card-header">
                          {{bookReviewers[review.user_id]}}
                        </div>
                        <div class="card-body">
                          <blockquote class="blockquote mb-0">
                            <p>{{review.content}}</p>
                          </blockquote>
                        </div>
                      </div>
                      {% endfor %}
                  </ul>
              </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}