{% extends "base.html" %}

{% block head %}
    {% block dashboardHead %}
    {% endblock %}
    <link href="../static/styles/dashboard.css" rel="stylesheet">
    <script src="../static/scripts/dashboard.js" defer></script>
{% endblock %}

{% block userButton %}
    <div class = "nav-item" style="color: aliceblue;">Hello! {{user.firstname}}</div>
    <a href = "{{url_for('signout')}}" style="text-decoration: none; text-align: center; color: white;">
        <button type="button" class="nav-item btn btn-danger">Sign Out</button>
    </a>
{% endblock %}

{% block body %}
    <div class="body-container dashboard">
        <div class = "left-panel" id="leftPanel">
            <input type="checkbox" class="btn-check" id="btn-check-2-outlined" autocomplete="off" checked onchange="toggleFlex()">
            <label class="btn btn-outline-primary" id="toggleLabel" for="btn-check-2-outlined" style="text-align: center; padding: 1vh;">Menu</label>
            <div class="panel-content">
                {% block leftContent %}
                {% endblock %}
            </div>
        </div>
        <div class = "right-panel">
            <div class="body-container">
                {% block rightContent %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}