{% extends "librarian-dashboard.html" %}

{% block dashboardHead %}
    <title>Issue Requests</title>
    <link href="../static/styles/issue-handler.css" rel="stylesheet">
    <link href="../static/styles/librarian-dashboard.css" rel="stylesheet">
{% endblock %}

{% block rightContent %}
    <div class="book-container">
        {% if deleteMsg %}
        <div class="error-text status-text" style="margin-right: auto; margin-left: auto; padding: 1vh 1vh; z-index: 99999; position:sticky; top:0; left:0;width:82vw;background-color: rgb(255, 230, 230);">{{deleteMsg}}</div>    
        {% elif issueMsg %}
        <div class="success-text status-text" style="margin-right: auto; margin-left: auto; padding: 1vh 1vh; z-index: 99999; position:sticky; top:0; left:0; width:82vw;background-color: rgb(241, 255, 224);">{{issueMsg}}</div>    
        {% endif %}
        <div class="issue-handler-page">
        {% for issueRequest in issueRequests %}
            {% if issueRequest.status == "requested" %}
            <div class="issue-card requested">
                <div class="issue-card-row">
                    <div class="issue-card-header" style="width: 18%;">User ID</div>
                    <div class="issue-card-header" style="width: 27%;">User</div>
                    <div class="issue-card-header">Book</div>
                    <div class="issue-card-header">Status</div>
                </div>
                <hr style="border: 1px solid white;">
                <div class="issue-card-row">
                    <div class="issue-card-content" style="width: 18%;">{{users[issueRequest.user_id].id}}</div>
                    <div class="issue-card-content" style="width: 27%;">{{users[issueRequest.user_id].firstname + " " + users[issueRequest.user_id].lastname}}</div>
                    <div class="issue-card-content">{{books[issueRequest.book_id].name}}</div>
                    <div class="issue-card-content">{{issueRequest.status}}</div>
                </div>    
                <div class="footer">
                    <div class="date-container">
                        <span class="dates"><strong>Issue Date:</strong> {{ issueRequest.issue_date }}</span>
                        <span class="dates"><strong>Return Date:</strong> {{ issueRequest.return_date }}</span>
                    </div> 
                    <div class="button-container">
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='issue')}}" class="button tick-button">Issue</a>
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='reject')}}" class="button cross-button">Reject</a>
                    </div>
                </div>
            </div>
            {% elif issueRequest.status == "issued" %}
            <div class="issue-card issued">
                <div class="issue-card-row">
                    <div class="issue-card-header" style="width: 18%;">User ID</div>
                    <div class="issue-card-header" style="width: 27%;">User</div>
                    <div class="issue-card-header">Book</div>
                    <div class="issue-card-header">Status</div>
                </div>
                <hr style="border: 1px solid white;">
                <div class="issue-card-row">
                    <div class="issue-card-content" style="width: 18%;">{{users[issueRequest.user_id].id}}</div>
                    <div class="issue-card-content" style="width: 27%;">{{users[issueRequest.user_id].firstname + " " + users[issueRequest.user_id].lastname}}</div>
                    <div class="issue-card-content">{{books[issueRequest.book_id].name}}</div>
                    <div class="issue-card-content">{{issueRequest.status}}</div>
                </div>
                <div class="footer">
                    <div class="date-container">
                        <span class="dates"><strong>Issue Date:</strong> {{ issueRequest.issue_date }}</span>
                        <span class="dates"><strong>Return Date:</strong> {{ issueRequest.return_date }}</span>
                    </div> 
                    <div class="button-container">
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='reissue')}}" class="button tick-button">Re-Issue</a>
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='revoke')}}" class="button cross-button">Revoke</a>
                    </div>
                </div>
            </div>
            {% elif issueRequest.status == "revoked" %}
            <div class="issue-card revoked">
                <div class="issue-card-row">
                    <div class="issue-card-header" style="width: 18%;">User ID</div>
                    <div class="issue-card-header" style="width: 27%;">User</div>
                    <div class="issue-card-header">Book</div>
                    <div class="issue-card-header">Status</div>
                </div>
                <hr style="border: 1px solid white;">
                <div class="issue-card-row">
                    <div class="issue-card-content" style="width: 18%;">{{users[issueRequest.user_id].id}}</div>
                    <div class="issue-card-content" style="width: 27%;">{{users[issueRequest.user_id].firstname + " " + users[issueRequest.user_id].lastname}}</div>
                    <div class="issue-card-content">{{books[issueRequest.book_id].name}}</div>
                    <div class="issue-card-content">{{issueRequest.status}}</div>
                </div>
                <div class="footer">
                    <div class="date-container">
                        <span class="dates"><strong>Issue Date:</strong> {{ issueRequest.issue_date }}</span>
                        <span class="dates"><strong>Return Date:</strong> {{ issueRequest.return_date }}</span>
                    </div> 
                    <div class="button-container">
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='reissue')}}" class="button tick-button">Re-Issue</a>
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='remove')}}" class="button cross-button">Remove</a>
                    </div>
                </div>
            </div>
            {% elif issueRequest.status == "returned" %}
            <div class="issue-card returned">
                <div class="issue-card-row">
                    <div class="issue-card-header" style="width: 18%;">User ID</div>
                    <div class="issue-card-header" style="width: 27%;">User</div>
                    <div class="issue-card-header">Book</div>
                    <div class="issue-card-header">Status</div>
                </div>
                <hr style="border: 1px solid white;">
                <div class="issue-card-row">
                    <div class="issue-card-content" style="width: 18%;">{{users[issueRequest.user_id].id}}</div>
                    <div class="issue-card-content" style="width: 27%;">{{users[issueRequest.user_id].firstname + " " + users[issueRequest.user_id].lastname}}</div>
                    <div class="issue-card-content">{{books[issueRequest.book_id].name}}</div>
                    <div class="issue-card-content">{{issueRequest.status}}</div>
                </div>
                <div class="footer">
                    <div class="date-container">
                        <span class="dates"><strong>Issue Date:</strong> {{ issueRequest.issue_date }}</span>
                        <span class="dates"><strong>Return Date:</strong> {{ issueRequest.return_date }}</span>
                    </div> 
                    <div class="button-container">
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='reissue')}}" class="button tick-button">Re-Issue</a>
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='remove')}}" class="button cross-button">Remove</a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="issue-card rejected">
                <div class="issue-card-row">
                    <div class="issue-card-header" style="width: 18%;">User ID</div>
                    <div class="issue-card-header" style="width: 27%;">User</div>
                    <div class="issue-card-header">Book</div>
                    <div class="issue-card-header">Status</div>
                </div>
                <hr style="border: 1px solid white;">
                <div class="issue-card-row">
                    <div class="issue-card-content" style="width: 18%;">{{users[issueRequest.user_id].id}}</div>
                    <div class="issue-card-content" style="width: 27%;">{{users[issueRequest.user_id].firstname + " " + users[issueRequest.user_id].lastname}}</div>
                    <div class="issue-card-content">{{books[issueRequest.book_id].name}}</div>
                    <div class="issue-card-content">{{issueRequest.status}}</div>
                </div>
                <div class="footer">
                    <div class="date-container">
                        <span class="dates"><strong>Issue Date:</strong> {{ issueRequest.issue_date }}</span>
                        <span class="dates"><strong>Return Date:</strong> {{ issueRequest.return_date }}</span>
                    </div>
                    <div class="button-container">
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='issue')}}" class="button tick-button">Issue</a>
                        <a href="{{url_for('requestProcessor',issueID=issueRequest.id,action='remove')}}" class="button cross-button">Remove</a>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}