{% extends "dashboard.html" %}

{% block dashboardHead %}
    <title>Librarian Dashboard</title>
    <link href="../static/styles/librarian-dashboard.css" rel="stylesheet">
{% endblock %}

{% block leftContent %}
    <a href="/" class = "panel-item" id="favouriteLabel">Favourites</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="issuedLabel">Issued</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="historyLabel">History</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="bookLabel">Books</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="genreLabel">Genre</a>
    <hr class = "divider">
    <div class = "heading">Recents</div>
    <div class = "panel-item">7</div>
    <hr class = "divider">
    <div class = "panel-item">8</div>
    <hr class = "divider">
    <div class = "panel-item">9</div>
    <hr class = "divider">
    <div class = "panel-item">10</div>
    <hr class = "divider">
    <div class = "panel-item">11</div>
    <hr class = "divider">
    <div class = "panel-item">12</div>
    <hr class = "divider">
    <div class = "panel-item">13</div>
    <hr class = "divider">
    <div class = "panel-item">14</div>
    <hr class = "divider">
    <div class = "panel-item">15</div>
{% endblock %}

{% block rightContent %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Content 1</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Content 1</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h1>Content 3</h1>
        </div>
    </div>
</div>
<button type="button" class="add-button animated-button">+</button>
{% endblock %}