{% if user.type == "librarian" %}
{% extends "librarian-dashboard.html" %}
{% else %}
{% extends "student-dashboard.html" %}
{% endif %}

{% block dashboardHead %}
    <title>Read</title>
    {% if user.type == "librarian" %}
    <link href="../static/styles/librarian-dashboard.css" rel="stylesheet">
    {% else %}
    <link href="../static/styles/student-dashboard.css" rel="stylesheet">
    {% endif %}
    <link href="../static/styles/read-style.css" rel="stylesheet">
{% endblock %}

{% block rightContent %}
    <object data="{{url_for('readPDF',bookName=bookName)}}" type="application/pdf" style="width: 75%; height: 86.76vh;">

    </object>
{% endblock %}