{% extends "dashboard.html" %}

{% block dashboardHead %}
    <title>Student Dashboard</title>
    <link href="../static/styles/student-dashboard.css" rel="stylesheet">
{% endblock %}

{% block leftContent %}
    <a href="/" class = "panel-item" id="favouriteLabel">Favourites</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="issuedLabel">Issued</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="historyLabel">History</a>
    <hr class = "divider">
    <div class = "panel-item">4</div>
    <hr class = "divider">
    <div class = "panel-item">5</div>
    <hr class = "divider">
    <div class = "panel-item">6</div>
    <div class = "heading">Recents</div>
    <div class = "panel-item">7</div>
    <hr class = "divider">
    <div class = "panel-item">8</div>
    <hr class = "divider">
    <div class = "panel-item">9</div>
    <hr class = "divider">
    <div class = "panel-item">10</div>
    <hr class = "divider">
    <div class = "panel-item">11</div>
    <hr class = "divider">
    <div class = "panel-item">12</div>
    <hr class = "divider">
    <div class = "panel-item">13</div>
    <hr class = "divider">
    <div class = "panel-item">14</div>
    <hr class = "divider">
    <div class = "panel-item">15</div>
{% endblock %}

{% block rightContent %}
    
{% endblock %}