{% extends "dashboard.html" %}

{% block dashboardHead %}
    <title>Student Dashboard</title>
    <link href="../static/styles/student-dashboard.css" rel="stylesheet">
{% endblock %}

{% block leftContent %}
    <a href="{{url_for('studentDashboard')}}" class = "panel-item" id="homeLabel">Home</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="favouriteLabel">Favourites</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="issuedLabel">Issued</a>
    <hr class = "divider">
    <a href="/" class = "panel-item" id="historyLabel">History</a>
    <hr class = "divider">
    <a href="{{url_for('authorEdit')}}" class = "panel-item" id="authorLabel">Authors</a>
    <hr class = "divider">
    <a href="{{url_for('genreEdit')}}" class = "panel-item" id="genreLabel">Genres</a>
    <hr class = "divider">
    <div class = "heading">Recents</div>
    <div class = "panel-item">7</div>
    <hr class = "divider">
    <div class = "panel-item">8</div>
    <hr class = "divider">
    <div class = "panel-item">9</div>
    <hr class = "divider">
    <div class = "panel-item">10</div>
    <hr class = "divider">
    <div class = "panel-item">11</div>
    <hr class = "divider">
    <div class = "panel-item">12</div>
    <hr class = "divider">
    <div class = "panel-item">13</div>
    <hr class = "divider">
    <div class = "panel-item">14</div>
    <hr class = "divider">
    <div class = "panel-item">15</div>
{% endblock %}

{% block rightContent %}
<div class="book-container">
    {% if deleteMsg %}
    <div class="error-text status-text">{{deleteMsg}}</div>    
    {% elif issueMsg %}
    <div class="success-text status-text">{{issueMsg}}</div>    
    {% endif %}
    {% for book in books %}
    <a href="{{url_for('book',bookID=book.id)}}" style="text-decoration: none; color: inherit;">
    <div class="card book-card glow-bg" style="width: 18rem;">
        <img class="card-img-top" src="../static/cover-images/{{book.name}}.png" alt="{{book.name}} Cover image">
        <div class="card-body">
          <div class="card-title">{{book.name}}</div>
          <div class="card-text card-body">{{book.description}}</div>
          <a href="{{url_for('issueBook',bookID=book.id)}}" class="btn btn-warning" style="margin-top: 1vh; color: white;">Issue</a>
          <a href="{{url_for('studentDashboard',bookID=book.id)}}" class="btn btn-info" style="margin-top: 1vh;color: white;">Read</a>
        </div>
    </div>
    </a>
    {% endfor %}
</div>
{% endblock %}