.body-container.author-page{
    display: flex;
    width: 100%;
}

.author-page{
    display: flex;
    flex-direction: column;
}

.page-content{
    display: flex;
    margin:2vh;
    padding: 0;
    overflow:hidden;
}

.grid{
    margin-top: 1vh;
    min-height: 65vh;
    max-height: 65vh;
    min-width: 75vw;
    max-width: 75vw;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 3vh;
}

.grid::-webkit-scrollbar{
    display: none;
}

.authorAdder{
    padding:1vh;
    min-height: 8vh;
    min-width: 80vw;
    margin: 2vh 1vh;
}
  
.author-card{
    max-height: 18vh;
    min-width: 13rem;
    margin:0 3vh;
    transition: all 0.21s ease-in-out;
}
.author-card-body{
    display: flex;
    margin: 1vh;
}

.author-card:hover{
    transform: scale(1.15);
    color: rgb(67, 161, 243);
}
  
  