.body-container.dashboard {
    display: flex;
    min-height: 86.75vh;
}

.left-panel {
    background-color: rgb(31, 41, 55);
    color: whitesmoke;
    font-family: 'Josefin Sans', 'Lucida Sans', 'sans-serif';
    padding: 0.75vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 86.75vh;
    max-height: 86.75vh;
    transition: flex 0.15s;
    overflow: hidden;
}

.panel-content {
    padding: 0;
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

hr.divider {
    margin: 0px;
    padding: 0px;
}

.panel-content::-webkit-scrollbar {
    display: none;
}

.panel-item {
    margin: 1vh;
    font-size: 3vh;
    text-align: center;
    text-decoration: none;
    color: white;
}

.right-panel {
    min-width: 80vw;
    flex: 7;
    min-width: auto;
    min-height: 86.75vh;
}

.panel-item {
    padding: 10px;
    transition: all 0.45s cubic-bezier(0.25, 0.80, 0.25, 1);
}

.panel-item:hover {
    background: linear-gradient(to right, rgb(31, 41, 55) 50%, rgb(56, 130, 246) 50%) right;
    background-size: 200% 100%;
}

.form-box {
    height: 86.75vh;
    min-width: 75vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vh;
}

.detail-form {
    border-radius: 100px;
    padding: 3vh;
    display: flex;
    height: 86.75vh;
    padding-left: 6vh;
    padding-right: 6vh;
    flex-direction: column;
    justify-content: space-around;
}

.book-container {
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    max-height: 86.75vh;
    min-width: 80vw;
}