* {
    font-family: 'Josefin Sans', 'Lucida Sans', 'sans-serif';
}

.page-container {
    height: 100vh;
    width: auto;
}

.body-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    color: #e5e7eb;
    background-color: rgb(31, 41, 55);
    font-size: 1.1em;
    display: flex;
    min-height: 8.65vh;
    align-items: center;
}

.nav-contents {
    padding: 1vh;
    display: flex;
    height: 3vh;
    flex: 1 1 auto;
    align-items: center;
}

.nav-item {
    margin-right: 1vw;
    min-height: 2vh;
    font-size: 2.25vh;
}

.btn .btn-primary {
    min-height: 2vh;
}

.nav-contents .logo:hover {
    transform: scale(1.1);
    text-shadow: 0 0 3px #6d9ee7;
}

.nav-contents .logo {
    color: #f9faf8;
    font-size: 4.5vh;
    text-shadow: 0 0 3px currentColor;
    font-weight: bolder;
    margin-left: 1vw;
    justify-content: center;
}

.nav-links {
    display: flex;
    margin-left: 3%;
    min-width: 25vw;
    margin-right: auto;
}

.d-flex {
    margin: 1vh 3vw;

}

.styled-button {
    margin: auto 7vh auto auto;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 1rem;
    height: 5vh;
    width: 6rem;
    border-radius: 10px;
    border: 0px;
    padding-top: 3px;
}

.nav-button:visited {
    color: #f9faf8;
    text-decoration: none;
}

.nav-button:hover {
    transform: scale(1.1);
    color: rgba(149, 188, 252, 0.95);
    text-shadow: 0 0 2px currentColor;
}

.nav-button {
    margin-left: 5%;
    padding: 0.6vw;
    position: relative;
    color: #f9faf8;
    font-size: 3vh;
    text-decoration: none;
}

.error-text {
    color: rgb(230, 31, 77);
    font-size: smaller;
    font-family: 'Josefin Sans', 'Lucida Sans', 'sans-serif';
    animation: shake 0.36s 0.1s;
    margin-left: 0.5vw;
    margin-top: 0.5vh;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25%,
    75% {
        transform: translateX(-0.75em);
    }

    50% {
        transform: translateX(1em);
    }
}

.success-text {
    color: rgb(90, 201, 0);
    font-size: smaller;
    font-family: 'Josefin Sans', 'Lucida Sans', 'sans-serif';
    margin-left: 0.5vw;
    margin-top: 0.5vh;
    animation: zoomineffect 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes zoomineffect {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.glow-text {
    font-size: 1.9em;
    font-family: 'Josefin Sans', 'Lucida Sans', 'sans-serif';
    font-weight: 700;
    text-align: center;
    background: linear-gradient(50deg, #0F1035, #365486, #6d9ee7, #4b4eee, #6d9ee7, #365486, #0F1035);
    background-size: 300%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite alternate;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 100%;
    }
}

.glow-bg {
    background: linear-gradient(60deg,
            rgba(146, 199, 207, 1),
            rgba(170, 215, 217, 1),
            rgba(251, 249, 241, 1),
            rgba(229, 225, 218, 1),
            rgba(251, 249, 241, 1),
            rgba(170, 215, 217, 1),
            rgba(146, 199, 207, 1));
    background-size: 300%;
    animation: animate 9s linear infinite alternate;
    border-radius: 3%;
}



.footer-container {
    font-size: 2.25vh;
    font-weight: normal;
    min-height: 4.65vh;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
    border-top: 1px solid #535353;
}

.animated-button {
    transition: all 0.27s cubic-bezier(0.25, 0.80, 0.25, 1);
}

.animated-button:hover {
    transform: scale(1.1);

}

.animated-button:active {
    transform: scale(0.95);
}

.dropdown {
    font-family: 'Josefin Sans', 'Lucida Sans', 'sans-serif';
    padding: 0.25vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 29.5vh;
    max-height: 29.5vh;
    overflow: hidden;

}

.dropdown-content {
    padding: 0;
    margin-top: 0.5vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}



.dropdown-content::-webkit-scrollbar {
    display: none;
}

.dropdown-item {
    margin: 0.25vh;
    font-size: 2.5vh;
    text-align: center;
    text-decoration: none;
    color: black;
}

.dropdown-item:hover {
    color: #0F1035;
}

.genre-input {
    margin-top: 1vh;
}


.card-text {
    max-height: 15vh;
    overflow: auto;
    background-color: #ececec;
    font-size: 1.9vh;
    font-family: 'Josefin Sans', 'Lucida Sans', 'sans-serif';
    margin-bottom: 1vh;    
}


.card-text::-webkit-scrollbar {
    display: none;
}

.card-img-top {
    height: 48vh;
}

.book-card {
    margin: 1vh 0.1vh 0 0;
    padding: 0.3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: scale(0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.12s ease-out;
    position: fixed;
}

.book-card:hover {
    transform: scale(0.96);
    z-index: 100000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-title {
    height: 5vh;
    font-size: 2.4vh;
    font-weight: 700;
}

.card-body{
    height: 33vh;
}